<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Привет, Марс!</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<h1>Моё предложение: {{ planet }}</h1>
<h4>Эта планета близка к земле.
    <h4>
        <div class="alert alert-info" role="alert">
            На ней много необходимых ресурсов.
        </div>
        <div class="alert alert-secondary" role="alert">
            На ней есть вода и атмосфера.
        </div>
        <div class="alert alert-warning" role="alert">
            На ней есть небольшое магнитное поле.
        </div>
        <div class="alert alert-danger" role="alert">
            Наконец, она просто красива!
        </div>
</body>
</html>